/* *****************************/
/* ------- GENERAL STYLE ------ */
/* *****************************/

body {
	display: grid;
	grid-template-rows: 80px 1fr 70px;
	grid-template-columns: 20% 1fr 15%;
	gap: 0;
	width: 100%;
	height: 100%;
}

#navbar{
	grid-area: 1 / 1 / 2 / 4;
}
#footer{
	grid-area: 3 / 1 / 4 / 4;
}
#main{
	grid-area: 2 / 1 / 3 / 4;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  padding: 3em 4.5em;
}

.title {
  padding: 0 20px;
  position: relative;
  margin: 0;
  width: fit-content;
  margin-bottom: 2em;
}

.title::before {
  content: "<h2>";
  font-family: var(--font-monospace);
  font-weight: 300;
  position: absolute;
  left: 0;
  font-size: 14px;
  top: -10px;
  letter-spacing: 1px;
  opacity: 0.5;
}
.title::after {
  content: "</h2>";
  font-family: var(--font-monospace);
  font-weight: 300;
  position: absolute;
  font-size: 14px;
  bottom: -24px;
  left: 0;
  letter-spacing: 0.5px;
  opacity: 0.5;
}

.text {
  padding: 0 20px;
  position: relative;
  margin: 0;
  width: fit-content;
  margin-bottom: 1em;

}
.text::before {
  content: "<p>";
  font-family: var(--font-monospace);
  font-weight: 300;
  position: absolute;
  left: 0;
  font-size: 14px;
  top: -18px;
  letter-spacing: 1px;
  opacity: 0.5;
}
.text::after {
  content: "</p>";
  font-family: var(--font-monospace);
  font-weight: 300;
  position: absolute;
  font-size: 14px;
  bottom: -23px;
  left: 0;
  letter-spacing: 0.5px;
  opacity: 0.5;
}

.kcs-text {
  padding:0 .2em;
  box-shadow: inset 0 -.5em var(--color-secondary-500);
}

p {
  text-align: left;
}

.innerS {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.11), inset -6px -6px 10px 0 rgba(0, 0, 0, 0.038);
  border-radius: 5px;
}
/* *****************************/
/* ------- NAVBAR STYLE ------ */
/* *****************************/

#navbar {
  height: 80px;
  counter-reset: navitems;
  font-family: var(--font-monospace);
}
#navbar .logo {
  float: left;
}

#navbar .nav > span {
  padding: 0 1em;
  position: relative;
  margin: 0;

}
#navbar .nav > span::before {
  font-family: "Material Symbols Outlined";
  content: "\e5cf";
  position: absolute;
  left: -3px;
  font-size: 20px;
  color: var(--color-primary-400);
}
#navbar .nav > span::after {
  counter-increment: navitems;
  content: "0"counter(navitems);
  position: absolute;
  font-size: 10px;
  top: -8px;
  margin-left: -0.9em;
  font-weight: 300;
  color: var(--color-secondary-500);
}

#navbar a {
  text-decoration: none;
}

.nav {
  display: none;
}

.nav-mobile .part1 {
  position: relative;
  display: inline-block;
}

.nav-mobile .part2 {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  padding: 0 0.5em;
}

.nav-mobile .btn:hover + .part2 {
  display: block;
}


@media (min-width: 48em) {
  .nav {
    display: inline;
  }
  .nav-mobile {
    display: none;
  }
}
@media (min-width: 62em) {

}

/* *****************************/
/* ----- SECTION 1 - HOME ------ */
/* *****************************/


#home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home h1 {
  text-align: center;
  padding: 0;
  font-size: 7em;
  margin: 0 0 0.3em 0;
}

#home h3 {
  text-align: center;
  padding: 0;
  font-size: 2em;
  font-weight: 400;
}

/* *****************************/
/* ----- SECTION 2 - ABOUT ME ------ */
/* *****************************/


#aboutme {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
}

#aboutme h1 {
  text-align: center;
  padding: 0;
  font-size: 7em;
  margin: 0 0 0.3em 0;
}

#aboutme h3 {
  text-align: center;
  padding: 0;
  font-size: 2em;
  font-weight: 400;
}

/* *****************************/
/* ----- SECTION 3 - WORK ------ */
/* *****************************/


#work {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
}

#work h1 {
  text-align: center;
  padding: 0;
  font-size: 7em;
  margin: 0 0 0.3em 0;
}

#work h3 {
  text-align: center;
  padding: 0;
  font-size: 2em;
  font-weight: 400;
}

video {
  margin-left: 6em;
  width: 80%;
  height: 80%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* *****************************/
/* ----- SECTION 4 - EXPERIENCE ------ */
/* *****************************/


#experience {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#experience h1 {
  text-align: center;
  padding: 0;
  font-size: 7em;
  margin: 0 0 0.3em 0;
}

#experience p {
  text-align: center;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
}


/* *****************************/
/* ----- SECTION 5 - CONTACT ------ */
/* *****************************/


#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
}

#contact h1 {
  text-align: center;
  padding: 0;
  font-size: 7em;
  margin: 0 0 0.3em 0;
}

#contact h3 {
  text-align: left;
  padding: 0;
  font-size: 2em;
  font-weight: 400;
}

.inf-map {
  width: 180px;
  height: 130px;
  background-image: url(https://uxwing.com/wp-content/themes/uxwing/download/flags-landmarks/switzerland-flag-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: 600;
  text-align: center;
  padding-top: 40px;
  left: 50px;
  top: -35px;
  position: absolute;
}


.inf-map2 {
  width: 180px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  text-align: center;
  left: 0;
  padding: 3px;
  top: 115px;
  position: absolute;
}






/* *****************************/
/* ----- BOTTOM LEFT/RIGHT LINE ------ */
/* *****************************/

#line-left {
  position: fixed;
  left: 3%;
  bottom: 0;
  width: 21px;
  height: 210px;
}

#line-left > div {
  text-align: center;
}

#line-left > div svg {
  width: 100%;
  height: auto;
}

.vline {
  height: 100%;
  width: 100%;
  position: relative;
}

#line-right {
  position: fixed;
  right: 3%;
  bottom: 0;
  width: 14px;
  height: 272px;
}

#line-right > div {
  text-align: center;
}

#line-right > div svg {
  width: 100%;
  height: auto;
}

.vline-line {
  height: 100%;
  width: 1px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* *****************************/
/* ------- ANIMATED TAG CLOUD ------ */
/* *****************************/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#cursor {
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: 1;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #e0e1dd;
    opacity: 0;
    display: none;
}

#cursor.-activated {
    animation: fadeIn 1s ease-out forwards;
}

.tags-cloud {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 80%;
    list-style: none;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.tags-cloud.-loaded {
    animation: fadeIn 1s ease-out forwards;
}

.tags-cloud > .tag {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5vmin;
    font-weight: bold;
    transition: transform .5s linear, opacity .5s linear;
    user-select: none;
}

.tags-cloud > .tag > .wrap {
    display: inline-block;
    transform: translateX(-50%) translateY(-50%);
}
