/* *****************************/
/* ------- GENERAL STYLE ------ */
/* *****************************/

body {
	width: 100%;
}

#main{
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  padding: 3em 4.5em;
}

.title {
  padding: 0 20px;
  position: relative;
  margin: 0;
  width: fit-content;
  margin-bottom: 2em;
}

.title::before {
  content: "<h2>";
  font-family: var(--font-monospace);
  font-weight: 300;
  position: absolute;
  left: 0;
  font-size: 14px;
  top: -10px;
  letter-spacing: 1px;
  opacity: 0.5;
}
.title::after {
  content: "</h2>";
  font-family: var(--font-monospace);
  font-weight: 300;
  position: absolute;
  font-size: 14px;
  bottom: -24px;
  left: 0;
  letter-spacing: 0.5px;
  opacity: 0.5;
}

.text {
  padding: 0 20px;
  position: relative;
  margin: 0;
  width: fit-content;
  margin-bottom: 1em;

}
.text::before {
  content: "<p>";
  font-family: var(--font-monospace);
  font-weight: 300;
  position: absolute;
  left: 0;
  font-size: 14px;
  top: -18px;
  letter-spacing: 1px;
  opacity: 0.5;
}
.text::after {
  content: "</p>";
  font-family: var(--font-monospace);
  font-weight: 300;
  position: absolute;
  font-size: 14px;
  bottom: -23px;
  left: 0;
  letter-spacing: 0.5px;
  opacity: 0.5;
}

.kcs-text {
  padding:0 .2em;
  box-shadow: inset 0 -.5em var(--color-secondary-500);

}

.innerS {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.11), inset -6px -6px 10px 0 rgba(0, 0, 0, 0.038);
  border-radius: 5px;
}
/* *****************************/
/* ------- NAVBAR STYLE ------ */
/* *****************************/

#navbar {
  height: 80px;
  counter-reset: navitems;
  font-family: var(--font-monospace);
  z-index: 2;
}
#navbar .logo {
  float: left;
}

#navbar .nav > span {
  padding: 0 1em;
  position: relative;
  margin: 0;

}
#navbar .nav > span::before {
  font-family: "Material Symbols Outlined";
  content: "\e5cf";
  position: absolute;
  left: -3px;
  font-size: 20px;
  color: var(--color-primary-400);
}
#navbar .nav > span::after {
  counter-increment: navitems;
  content: "0"counter(navitems);
  position: absolute;
  font-size: 10px;
  top: -8px;
  margin-left: -0.9em;
  font-weight: 300;
  color: var(--color-secondary-500);
}

#navbar a {
  text-decoration: none;
}

.nav {
  display: none;
}

.nav-mobile .part1 {
  position: relative;
  display: inline-block;
}

.nav-mobile .part2 {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  padding: 0 0.5em;
}

.nav-mobile .btn:hover + .part2 {
  display: block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

@media (min-width: 48em) {
  .nav {
    display: inline;
  }
  .nav-mobile {
    display: none;
  }
}
@media (min-width: 62em) {

}

/* *****************************/
/* ----- SECTION 1 - HOME ------ */
/* *****************************/
.vanta-canvas {
  height: 100vh!important;
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

#home h1 {
  text-align: center;
  padding: 0;
  font-size: 7em;
  margin: 0 0 0.3em 0;
}

#home h3 {
  text-align: center;
  padding: 0;
  font-weight: 400;
  margin-left: 5em;
  color: var(--color-primary-200);
}

.typing-demo {
  margin-top: 1em;
  width: 32ch;
  animation: typing 4s steps(22), blink .5s;
  animation-iteration-count: infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: var(--font-monospace);
  font-size: 2em;
}

#home svg {
  user-select: none;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}



/* *****************************/
/* ----- SECTION 2 - ABOUT ME ------ */
/* *****************************/


#aboutme {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
}

#aboutme h1 {
  text-align: center;
  padding: 0;
  font-size: 7em;
  margin: 0 0 0.3em 0;
}

#aboutme h3 {
  text-align: center;
  padding: 0;
  font-size: 2em;
  font-weight: 400;
}

/* *****************************/
/* ----- SECTION 3 - WORK ------ */
/* *****************************/


#work {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
}

#work h1 {
  text-align: center;
  padding: 0;
  font-size: 7em;
  margin: 0 0 0.3em 0;
}

#work h3 {
  font-size: 2em;
  font-weight: 400;
  font-family: var(--font-secondary);
  color: var(--color-primary-100);
}

video {
  margin-left: 6em;
  width: 80%;
  height: 80%;
  user-select: none;
  pointer-events: none;
}

.text-box {
  background-color: var(--color-primary-600);
  height: fit-content;
  border-radius: 3px;
  padding: 20px;
  margin-left: -80px;
  z-index: 1;
  text-align: right;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.275);
}

.text-box2 {
  position: relative;
  background-color: var(--color-primary-600);
  height: fit-content;
  border-radius: 3px;
  padding: 20px;
  margin-right: -80px;
  z-index: 1;
  text-align: left;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.275);
}

.featured::before {
  content: "<";
  font-family: var(--font-monospace);
  margin-right: 3px;
}

.featured {
  font-family: var(--font-monospace);
  color: var(--color-secondary-500);
  font-size: 14px;
  margin-top: 3em;
  margin-bottom: -1em;
}

.featured::after {
  content: "/>";
  font-family: var(--font-monospace);
  margin-left: 3px;
}

#work a {
  text-decoration: none;
}

.featured2::before {
  content: "<";
  font-family: var(--font-monospace);
  margin-right: 3px;
}

.featured2 {
  font-family: var(--font-monospace);
  color: var(--color-secondary-500);
  font-size: 14px;
  margin-top: 1em;
  margin-bottom: -1em;
}

.featured2::after {
  content: "/>";
  font-family: var(--font-monospace);
  margin-left: 3px;
}
/* *****************************/
/* ----- SECTION 4 - EXPERIENCE ------ */
/* *****************************/


#experience {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#experience h1 {
  text-align: center;
  padding: 0;
  font-size: 7em;
  margin: 0 0 0.3em 0;
}

#experience p {
  text-align: left;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
}

h6 {
  color: var(--color-secondary-500);
  font-family: var(--font-monospace);
  font-weight: 600;
}

/* *****************************/
/* ----- SECTION 5 - CONTACT ------ */
/* *****************************/

#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
}

#contact h1 {
  text-align: center;
  padding: 0;
  font-size: 7em;
  margin: 0 0 0.3em 0;
}

#contact h3 {
  text-align: left;
  padding: 0;
  font-size: 2em;
  font-weight: 400;
}

.inf-map {
  width: 180px;
  height: 130px;
  background-image: url(https://uxwing.com/wp-content/themes/uxwing/download/flags-landmarks/switzerland-flag-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: 600;
  text-align: center;
  padding-top: 40px;
  left: 50px;
  top: -35px;
  position: absolute;
  z-index: 1;
}


.inf-map2 {
  width: 180px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  text-align: center;
  left: 0;
  padding: 3px;
  top: 115px;
  position: absolute;
  z-index: 1;
}

.mapouter {
  filter: grayscale(100%) blur(1px);
  transition: 0.3s ease-in all;
}

.mapouter:hover {
  filter: grayscale(100%) blur(0);
}

/* *****************************/
/* ----- SECTION 6 - FOOTER ------ */
/* *****************************/

#footer {
  height: 60px;
  width: 100vw;
}

#footer > .container {
  padding-left: 2em;
  padding-top: 1em;
}

#footer span {
  font-family: var(--font-monospace);
  font-size: var(--font-size);

}



/* *****************************/
/* ----- BOTTOM LEFT/RIGHT LINE ------ */
/* *****************************/

#line-left {
  position: fixed;
  left: 3%;
  bottom: 0;
  width: 21px;
  height: 210px;
}

svg:hover #line-left {
  transform: translateY(-8px);
}

#line-left > div {
  text-align: center;
}

#line-left > div svg {
  width: 100%;
  height: auto;
}

.vline {
  height: 100%;
  width: 100%;
  position: relative;
}

#line-right {
  position: fixed;
  right: 3%;
  bottom: 0;
  width: 14px;
  height: 289px;
}

#line-right > div {
  text-align: center;
}

#line-right > div svg {
  width: 100%;
  height: auto;
}

.vline-line {
  height: 100%;
  width: 1px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* *****************************/
/* ------- ANIMATED TAG CLOUD ------ */
/* *****************************/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#cursor {
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: 1;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #e0e1dd;
    opacity: 0;
    display: none;
}

#cursor.-activated {
    animation: fadeIn 1s ease-out forwards;
}

.tags-cloud {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 70%;
    list-style: none;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.tags-cloud.-loaded {
    animation: fadeIn 1s ease-out forwards;
}

.tags-cloud > .tag {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-weight: bold;
    transition: transform .5s linear, opacity .5s linear;
    user-select: none;
}

.tags-cloud > .tag > .wrap {
    display: inline-block;
    transform: translateX(-50%) translateY(-50%);
}


/* *****************************/
/* ------- SCROLLDOWN BUTTON ------ */
/* *****************************/

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  bottom: -95%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: var(--color-primary-300);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* *****************************/
/* ------- CAROUSEL ------ */
/* *****************************/

* {box-sizing: border-box}
.mySlides1, .mySlides2, .mySlides3 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container img {
  filter: grayscale(80%) blur(1px);
  transition: 0.3s ease-in all;
}

.slideshow-container img:hover {
  filter: sepia(0%) blur(0);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 90%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 10;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: var(--color-primary-600);
  color: black;
}

/* *****************************/
/* ------- ACCORDION ------ */
/* *****************************/

.accordion {
  background-color: var(--color-primary-200);
  color: var(--grey4);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid var(--color-primary-200);
  border-radius: 12px;
  margin:10px 10px 10px 0px;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight:600;
    font-family: 'Ubuntu', sans-serif;
  transition: 0.4s;
}
.arrowup{
  font-family: 'Ubuntu', sans-serif;
  width:24px;
  height:auto;
  float:right;
transform: rotate(180deg);
}

.active, .accordion:hover {
    background-color: var(--color-primary-200);
    box-shadow: inset 4px 4px 15px 0px #0000003f;
}

.panel {
  padding: 0 15px;
  display: none;
  background-color: var(--color-primary-600);
  overflow: hidden;
}
.accordionsection{
  max-width:700px;
  margin:0 auto;
  background: var(--color-primary-600);
  border-radius:12px;
  padding:15px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.275);

}
